body {
  margin: 0;
}

.body {
  display: flex;
  flex-direction: column;
  height: 100%;
  width: 100%;
}

.body-header {
  padding-top: 0.75rem;
  padding-bottom: 0.75rem;
  padding-left: 1.5rem;
  background-color: rgb(61, 102, 156);
  color: white;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
}

.body-header h1 {
  margin: 0;
  padding: 0;
}

.header-nav-list {
  list-style-type: none;
  display: flex;
  flex-direction: row;
  gap: 1rem;
}

.header-nav-item {
  padding: 0.25rem 0.5rem;
}

.header-nav-item a {
  color: white;
  text-decoration: none;
  font-size: 1.1em;
}

.header-nav-item.active {
  background-color: rgb(31, 60, 97);
}

.body-content {
  padding: 2rem 4rem;
}

.car-container {
  display: flex;
  flex-wrap: wrap;
  gap: 4rem;
}

.car-card {
  min-width: 14rem;
  min-height: 2px;
  box-shadow: 0px 0px 10px 0px #ccc;
  padding: 1rem;
  display: flex;
  flex-direction: row;
  gap: 1rem;
  border-radius: 1rem;
  cursor: pointer;
}

.car-subtitle {
  margin-top: 0.25rem;
  font-size: 0.9em;
}

.car-right {
  font-size: 0.8em;
  max-width: 6rem;
  word-wrap: break-word;
}

.user-container {
  display: flex;
  flex-wrap: wrap;
  gap: 4rem;
}

.user-card {
  min-width: 14rem;
  min-height: 2px;
  box-shadow: 0px 0px 10px 0px #ccc;
  padding: 1rem;
  display: flex;
  flex-direction: row;
  gap: 1rem;
  border-radius: 1rem;
  cursor: pointer;
}

.user-subtitle {
  margin-top: 0.25rem;
  font-size: 0.9em;
}

.user-right {
  font-size: 0.8em;
  max-width: 6rem;
  word-wrap: break-word;
}

.info-label {
  font-weight: bold;
}